<header>

    <h1 class="announcment h-auto w-100">САЙТЪТ Е ПРЕДНАЗНАЧЕН ДА БЪДЕ КАТАЛОГ</h1>
    <div class="row row-fix align-items-center w-100 row-header">
      <div class="col d-none d-lg-block">
        <div class="nav justify-content-center">
          
            <div class="dropdown">
              <button type="button " id="dropdownMenuButton" data-bs-toggle="dropdown" class="btn-all w-auto "><ion-icon
                  style="color: white;" class="svg-icon-categories" name="albums-outline"></ion-icon> Всички
                продукти</button>
              <div class="dropdown-menu categories-dropdown animate slideIn" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/Products/Akumulatorni-koli/index.html">Акумулаторни коли</a>
                <a class="dropdown-item" href="/Products/Akumulatorni-djipove/index.html">Акумулаторни джипове</a>
                <a class="dropdown-item" href="/Products/Akumulatorni-motori/index.html">Акумулаторни мотори</a>
                <a class="dropdown-item" href="/Products/Akumulatorni-bugita/index.html">Акумулаторни бъгита</a>
                <a class="dropdown-item" href="/Products/Akumulatorni-traktori/index.html">Акумулаторни трактори</a>
              </div>
            </div>

        </div>

      </div>

      <div class="col  text-center justify-content-center">
        <a href="/index.html"><img style="height: 90px; width: auto;" class="align-self-center" src="/upload/logos/logo.png" alt=""></a>
      </div>


      <div class="col me-xl-4 d-none d-lg-block">
        <div class="nav justify-content-center">
          <div class="nav-item">
            <div class="form">
              <ion-icon class="fa fa-search icons-nav" id="search-icon" name="search-outline"></ion-icon>
              <input onclick="window.open('/search.html')" type="text" class="form-control form-input" placeholder="Търси">
              <ul id="results"></ul>
            </div>
          </div>
        </div>
      </div>


    </div>


    <hr class="solid">
    <div class="row header_mobile-fixer d-lg-none w-100">

      <div class="col-2 ">
        <div class=" ps-4 d-block d-lg-none dropdown">
          <a class="btn p-0 m-0" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
            aria-expanded="false">
            <span class="dropdown-text"></span><span class="dropdown-icon"><ion-icon
                name="menu-outline"></ion-icon></span>
          </a>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="/Products/Akumulatorni-koli/index.html">Акумулаторни коли</a>
            <a class="dropdown-item" href="/Products/Akumulatorni-djipove/index.html">Акумулаторни джипове</a>
            <a class="dropdown-item" href="/Products/Akumulatorni-motori/index.html">Акумулаторни мотори</a>
            <a class="dropdown-item" href="/Products/Akumulatorni-bugita/index.html">Акумулаторни бъгита</a>
            <a class="dropdown-item" href="/Products/Akumulatorni-traktori/index.html">Акумулаторни трактори</a>
          </ul>
        </div>


      </div>
      <div class="col-10 d-flex h-100 justify-content-end">
        <ul class="nav w-100 d-flex justify-content-end align-items-center">
          <li class="nav-item d-flex justify-content-end w-100 align-items-center">
            <div class="form my-auto h-100 m-0 p-0 justify-contend-end align-items-center">
              <ion-icon class="fa fa-search icons-nav align-center" id="search-icon" name="search-outline"></ion-icon>
              <input type="text" class="form-control pe-0 form-input" placeholder="Търси">
            </div>

          </li>
        </ul>
      </div>
    </div>
  </header>