@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}

.announcment {
    width: 100%;
    height: 45px;
    background-color: black;
    color: red;
    text-align: center;
    padding: 12px;
    font-size: 14.2px;
    align-items: center;
}
.svg-icon-categories {
    width: 24px;
    height: 24px;
    float: left;
}

#div-header {
    height: 112px;
    margin-left: 152.5px;
    margin-right: 152.5px;
}

.padding-left-button {
    padding-left: 10px;
    
}

.button {
    background-color: blue;
    color: white;
    float: left;
    display: flex;
    padding: 10px;
    margin: 8px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    border-radius: 30px;
}
.nav-position {
    padding-bottom: 34px;
    padding-top: 34px;
    height: 62px;
    width: 533px;
}
.promotion-text {
    
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    height: 21px;
    /* width: 141px;
   
    margin-left: 20px;
    padding-left: 150px; */
}
.nav-position-nav {
    align-items: center;
    float: left;
    margin: 15px;
}
div {
    float: left;
}

* {
    color: black;
}

.column-navbar {
    width: 162px;
}

.icons-nav {
    width: 24px;
    height: 24px;
}
.bg {
    background-image: url("https://cdn.mydreamshop.io/source/private/marchideo/pages/attachments/78125cddc9f09b2f4acd0529af94991bc4f96291/1690297230888164bfe38ed8d37127.jpg");
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}


.l-button {
    font-weight: 700;
    font-size: 34px;
    height: 141px;
    width: 623px;
    background-color: rgba(148,126,206,0.53);
    color: white;
    
}
.color-swatches {
    width: 38px;
    height: 38px;
    border: none;
    border-radius: 10px;
}

.red {
    background-color: red;
}
.black {
    background-color: black;
}
.product-selection {
    height: 401px;
    width: 288px;
    background-color: white;
}
.product-selection-bg {
    background-color: #2ebaa7;
}

.l-selection {
    border-radius: 10px;
}
.gallery-title {
    text-align: center;
    font-size: 23px;
    font-weight: 700;
}
.gallery-col {
    height: 283px;
    width: 100%;
}

.text-section-5-6 {
    text-align: start;
}

.btn-tag {
    width: 100px;
    height:33px; 
    border: 2px solid #4c3663;
    background-color: white;
    color: #4c3663;
    font-size: 14px;
    border-radius: 10px;
}
.btn-razgledai {
    width: 107px;
    height: 43px; 
    border: 2px solid #4c3663;
    background-color: #4c3663;
    color: white;
    font-size: 14px;
    border-radius: 100px;
}

.text-section-5-6 ul li {
    list-style: none;
    margin-bottom: 6px;
}
.text-section-5-6 ul li ion-icon {
    width: 35px;
    height: 20px;
}

.box-shadow-btn {
    
}

.box-shadow-btn:hover {

}
.btn-gallery {
    display: none;
}
.card:hover .btn-gallery {
    transition: all 0.5s;
    display: block;
}
.card {
    transition: all 0.5s;
}
.card:hover {
    
    box-shadow: var(--bs-box-shadow) !important;
    
}
footer li {
    list-style: none;
}
footer *{
    color: white;
}
footer ion-icons {
    font-size: 24px;
}
footer li {
    margin-top: 10px;
    margin-bottom: 10px;
}
.contact-icons {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 24px;
    margin-top: 10px;
}
.padding-product-section {
    padding-top: 10px;
}

.card {
    width: auto;
}