* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.bg-image {
    background-image: url(v4-small.jpg);
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.navbar-link {
    float: left;
    list-style: none;
    margin: 35.5px 20px;
}

#logo-header {
    margin: 21px 20px;
}

li.navbar-link a {
    text-decoration: none;
    color: green;
}

.section-1 {
    height: 702px;
    padding-top: 10%;
}

#zelen-portal {
    color: #6fa843;
    line-height: 90px;
    font-size: 80px;
    font-weight: 700;
    margin-top: 350px;

}

#portal {
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.05rem;
    font-weight: 700;
}

div.section2 h2 {
    margin: 1.2em 0;
    letter-spacing: 0.05em;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 36px;
    line-height: 53px;
    color: #3c3950;

}

div.section2 span {
    letter-spacing: 0.05em;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    color: #3c3950;
    text-align: center;
}

div.section2 p {
    font-family: 'Montserrat';
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #5f727f;
    box-sizing: border-box;
    padding-left: 40px;
    text-align: center;
}

a.Nauchi {
    vertical-align: middle;
    padding: 10px 25px;
    font-size: 14px;
    margin: 25px;
    font-family: 'Montserrat';
    font-weight: 700;
    border-width: 2px;
    line-height: 36px;
    border-style: solid;
    border-color: #70a843;
    border-radius: 3px;
    color: rgb(112, 168, 67);
    transition: 0.5s;
}
a.Nauchi:hover {
    color: white;
    background-color: #70A843;
}
.Koi-sme-nie {
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 700;
    font-size: 36px;
    line-height: 53px;
    color: #123d27;
    text-align: center;
}
.section-heading {
    font-size: 36px;
    letter-spacing: 0.1rem;
    font-weight: 700;
}
.article-heading {
    font-weight: 300;
    font-size: 28px;
    color: black;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.5s;
}
.article-heading:hover {
    color: #6fa843;
}
.big-image {
    width: 100%;
}
body {
    background-color: #f5f5f5;
}
.divider {

    color: #99a9b5;
    box-sizing: border-box;
    margin: 0 6px;
    border-left: 2px solid #d4dee1;
    height: 20px;
}
.reaction-blog-btn {
    font-size: 16px;
}
.paragraph-blog {
    font-size: 16px;
    line-height: 25px;
    color: #888888;
}
div.blog-categories-btn a {
    color: #70A843;
    transition: 0.5s;
}
div.blog-categories-btn a:hover {
    color: black;
}
.comment {
    color: #99a9b5;
    transition: 0.5s;
    
}
.like {
    color: #f44336;
    transition: 0.5s;
}
.like:hover {
    color: black;
}
.comment:hover {
    color: #62d00d;
}
.small-article-cart {
    height: 140px;
}
.small-article-cart-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.small-article-heading {
    font-size: 22px !important;
}



/* ЗА НАС */
.picture{
    width: fit-content;
    height: 100%;
    object-fit: cover;
}
.picture1{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
tr{
    width: 100%;
}
td{
    width: 50%;
}
div.about-us-text p{
    font-weight: 300;
    color: rgb(150, 150, 150) !important;
    font-size: 16 px;
    font-family: 'Montserrat', sans-serif;
    height: auto;
    text-align: left;
}

.ulli li{
    
    font-size: 16px;
    color: rgb(150, 150, 150) !important;
    font-family: 'Montserrat', sans-serif;
}
.about-us {
    display: flex;
    flex-direction: row;
}
.about-us-reverse {
    display: flex;
    flex-direction: row-reverse;
}
.za-nas-text-header {
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    color: #123d27;
}
.about-us-image {
    width: 50%;
    height: auto;
}
.about-us-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about-us-text {
    width: 50%;
    height: 100%;
    padding: 0px 10%;
}
@media (max-width: 768px) {
    .about-us {
        flex-direction: column;
    }
    .about-us-image {
        width: 100%;
        height: auto;
    }
    .about-us-text {
        width: 100%;
        height: auto;
    }

}
.zanas-green {
    color: #6fa843;
}
section.proizvoditeli-header {
    margin: 1.2em 0;
    font-family: 'Montserrat';
    
    font-size: 48px;
    
    color: #3c3950;
}
section.proizvoditeli-header p {
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 25px;
    color: #5f727f;
    box-sizing: border-box;
    margin: 1.5% 2%;
    text-align: center;
}
section.proizvoditeli-header p strong {
    font-size: 16px;
    
    color: #5f727f;
}
.proizvoditeli-bg-image {
    
    opacity: 1;
    transform: scale(1);
    transition: all 0.5s;
    object-fit: cover;
    
}
.proizvoditeli-bg-image:hover {
    opacity: 0.5;
    transform: scale(1);
    background-color: #62d00d;
}
.proizvoditeli-link {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #6fa843;
    text-transform: uppercase;
}
.page-title {
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    
    
    padding: 50px 0px;
    letter-spacing: 0.05em;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 36px;
    line-height: 53px;
    color: #123d27;
}
.contact-input, .contact-input:focus {
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    outline: none;
}
.contacts-bg-tel {
    background-color: #93E7B4;
    color: white;
}
.contacts-bg-mail {
    background-color: #6FA843;
    color: white;
}
.contacts-bg-tel:hover, .contacts-bg-mail:hover {
    background-color: #B6C6C9;
}
.contacts-button-text {
    letter-spacing: 0.05em;
    text-align: center;
    font-weight: normal;
}
.contacts-icons {
    font-size: 48px;
}
div#contacts-buttons a {
    color: white;
}
.contacts-btn-send {
    border-radius: 3px;
    font-weight: 700;
    color: #ffffff;
    margin: 15px 15px 15px 0;
    height: 50px;
    line-height: 30px;
    padding: 10px 40px;
    font-size: 20px;
    border: 1px solid #394050;
    width: 100%;
    background-color: #70a843;
}
.blog_aside-article-heading {
    letter-spacing: 0.05em;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.1;
    color: #5f727f;
    
}
img.blog_aside-article-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.blog_aside-height-fix {
    height: 125px;
}
.blog_aside-heading {
    text-transform: uppercase;
    margin: 1em 0;
    letter-spacing: 0.05em;
    font-weight: 700;
    font-size: 19px;
    line-height: 30px;
    color: #3c3950;
}
.blog-page-links a{
    padding: 10px;
    border: 2px solid #99a9b5;
    background-color: white;
    color: #99a9b5;
    font-weight: 700;
    text-decoration: none;
    font-size: 18px;
    width: 30px;
    height: 30px;
    text-align: center;
    margin: 0 8px 16px;
}
.blog-page-links a:hover{
    background-color: rgb(119, 119, 218);
    border-color: rgb(119, 119, 218);
    color: white;
    transition: 0.2s;
}
.arrow img{
    width: 20px;
    height: 20px;
}
.arrow{
    padding: 10px;
    border: 2px solid #99a9b5;
    background-color: rgb(212, 212, 212);
    color: #99a9b5;
    font-weight: 700;
    text-decoration: none;
    font-size: 18px;
    width: 30px;
    height: 30px;
    text-align: center;
    margin: 0 8px 16px;
}

.blog_newsletter {
    background-color: #6FA843;
}
div.blog_newsletter p {
    font-size: 16px;
    line-height: 25px;
    box-sizing: border-box;
    margin: 0 0 1.1em;
    margin-bottom: 0px;
    color: #123D27;
    text-align: center;
    font-weight: bold;
}
.subscribe-form a {
    color: white;
    text-decoration: none;
    transition: color 0.3;
}
.subscribe-form a:hover {
    color: black;
    text-decoration: none;
}
.subscribe-form input[type="submit"] {
    color: white;
    background-color: #123D27;
    padding: 10px;
    border: 0;
    text-transform: uppercase;
    border-radius: 5px;

}
.blog_article_heading {

}
.maslinki img {
    width: 100%;
}
ul.footer_btns {
    list-style: none !important;
}
ul.footer_btns li a {
    font-size: 16px;
    transition: color 0.3s;
    color: #70a843;
}
ul.footer_btns li a:hover {
    color: #384554;
}
.bg-footer {
    background-color: #123D27;
}
.footer_btns-social li a {
    font-size: 16px;
    transition: all 0.3s;
    line-height: 16px;
    color: #ffffff;
}
.footer_btns-social {
    list-style: none;
}
.footer_btns-social li a ion-icon[name="logo-facebook"]:hover,.footer_btns-social li a ion-icon[name="logo-linkedin"]:hover {
    color: #2a6496;
}
.footer_btns-social li a ion-icon[name="logo-instagram"]:hover {
    color: #9a8f62;
}
.bg-footer-2 p {
    font-size: 16px;
    line-height: 25px;
    color: #888888;
}
.bg-footer-2{
    background-color: #061C11;
}
.footer_logo-white {
    max-width: 100%;
}
@media (max-width: 768px) {
    .footer_logo-white {
        max-width: 50%;
    }
}